@page "/games"
@inject HttpClient Http

<h2>Hello from Games Catalog Page</h2>

<p>Game List : </p>

<div class="gameList">

@if(Games != null){
    @foreach(var game in Games){

        <div class="card">
            <img src="@game.CoverImageURL" alt="John" style="width:100%">
            <h1>@game.Name</h1>
            <p>Tags : <small> 
                @foreach(var tag in game.Tags){ <span>@tag </span> }
            </small></p>
            <small>@game.Description</small>
            <p>@game.Authority</p>
            <p>Categories : <small> 
                @foreach(var category in game.Categories){ <span>@category </span> }
            </small>
            </p>
           <p> <a href="@game.GameUrl"><button>Play</button></a></p>
        </div>
    }
}

</div>

@functions{

   Game[] Games;

   protected override async Task OnInitAsync()
    {
        var oDataGamesUrl = "http://localhost:54554/odata/Games?$select=Id,Name,CoverImageURL,Tags,Description,Authority,Categories";
        var response = await Http.GetJsonAsync<ODataResponse>(oDataGamesUrl);
        Games = response.value;
        Console.WriteLine(response);
    }

    class ODataResponse{
        public string context {get; set;}
        public Game[] value {get; set;}
    }

    //TODO : Remove unused
    class Game{
        public Guid Id { get; set; }

        public string Name { get; set; }

        public string Description { get; set; }

        public string Version { get; set; }

        public List<string> Categories { get; set; }

        public List<string> Tags { get; set; }

        public string CoverImageURL { get; set; }
        public List<string> MultiMedias { get; set; }

        public string GameUrl { get; set; }

        public string Authority { get; set; }

        public DateTime CreatedAt { get; set; }

        public DateTime RegistereAt { get; set; }

        public int PlayersCount { get; set; }

        public List<string> AvaliablePlatforms { get; set; }
    }
}
